﻿@model IEnumerable<FilmIzlemeSitesi.Models.FilmTuruTablosu>

@{
    ViewBag.Title = "Index";
}

<h2>Film Türleri</h2>

<p>
    @Html.ActionLink("Yeni Tür oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Film Türü
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FilmTuru)
        </td>
        <td>
            
        </td>
    </tr>
}

</table>
