﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Film Günlükleri</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="logo">
                <img src="Content/image/logo.png" height="22" width="120">
                               
            </div>
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>

                @Html.ActionLink("Film Günlükleri", "Index", "Home", null, new { @class = "navbar-brand" })
                
            </div>           
            <div class="navbar-collapse collapse">                          
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
                    <li>@Html.ActionLink("Filmler", "Index", "Film")</li>
                    <li>@Html.ActionLink("Film Türleri", "Index", "FilmTuru")</li>                   
                    <li>@Html.ActionLink("Film İzle", "Index", "Izleme")</li>
                    <li>@Html.ActionLink("Film İndir", "Index", "Indirme")</li>                   
                    
                </ul>

                @Html.Partial("_LoginPartial")
            </div> 
           
        </div>

    </div>
    
   


    <div class="container body-content">
        
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Film Günlüğü</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
