﻿@model FilmIzlemeSitesi.Models.HareketTablosu

@{
    ViewBag.Title = "Delete";
}

<h2>Sil</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HareketTablosu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HareketTipi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HareketTipi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HareketTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HareketTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmTablosu.FilmAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmTablosu.FilmAdi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
