﻿@model FilmIzlemeSitesi.Models.HareketTablosu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HareketTablosu</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HareketTipi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HareketTipi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HareketTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HareketTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUsers.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmTablosu.FilmAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmTablosu.FilmAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HareketId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
