﻿@model FilmIzlemeSitesi.Models.HareketTablosu

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>HareketTablosu</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.HareketId)

        <div class="form-group">
            @Html.LabelFor(model => model.KullaniciId, "KullaniciId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KullaniciId", String.Empty)
                @Html.ValidationMessageFor(model => model.KullaniciId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FilmId, "FilmId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FilmId", String.Empty)
                @Html.ValidationMessageFor(model => model.FilmId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HareketTipi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HareketTipi)
                @Html.ValidationMessageFor(model => model.HareketTipi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HareketTarihi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HareketTarihi)
                @Html.ValidationMessageFor(model => model.HareketTarihi)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
