﻿@model IEnumerable<FilmIzlemeSitesi.Models.HareketTablosu>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Yeni Film İndir", "Create")
</p>
<p><h3>İndirilen Filmler</h3></p>
<table class="table">
    <tr>
        <th>
            İndirme Tarihi
        </th>
        <th>
            İzleyen Kullanıcı
        </th>
        <th>
            Filmin Adı
        </th>
        <th>
            Yönetmen
        </th>
        <th>
            Vizyon Tarihi
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HareketTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmTablosu.FilmAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmTablosu.Yonetmen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmTablosu.CikisTarihi)
            </td>
        </tr>
    }

</table>
