﻿@model IEnumerable<FilmIzlemeSitesi.Models.HareketTablosu>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Hareket tipi
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HareketTarihi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilmTablosu.FilmAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HareketTipi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HareketTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmTablosu.FilmAdi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HareketId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HareketId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HareketId })
        </td>
    </tr>
}

</table>
