﻿@model FilmIzlemeSitesi.Models.FilmTablosu

@{
    ViewBag.Title = "Delete";
}

<h2>Film Silme</h2>

<div>
    <h4>Film Tablosu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FilmAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yonetmen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yonetmen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImdbPuani)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImdbPuani)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CikisTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CikisTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmTuruTablosu.FilmTuru)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmTuruTablosu.FilmTuru)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Film Listesine Dön", "Index")
        </div>
    }
</div>
