﻿@model FilmIzlemeSitesi.Models.FilmTablosu

@{
    ViewBag.Title = "Detay";
}

<h2>Detaylar</h2>

<div>
    <h4>FilmTablosu</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FilmAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yonetmen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yonetmen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImdbPuani)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImdbPuani)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CikisTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CikisTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilmTuruTablosu.FilmTuru)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilmTuruTablosu.FilmTuru)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.FilmId }) |
    @Html.ActionLink("Film Listesine Dön", "Index")
</p>
