﻿@model FilmIzlemeSitesi.Models.FilmTablosu

@{
    ViewBag.Title = "Film Düzenleme";
}

<h2>Film Düzenleme</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>FilmTablosu</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.FilmId)

        <div class="form-group">
            @Html.LabelFor(model => model.FilmAdi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FilmAdi)
                @Html.ValidationMessageFor(model => model.FilmAdi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Yonetmen, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Yonetmen)
                @Html.ValidationMessageFor(model => model.Yonetmen)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FilmTuruId, "FilmTuruId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FilmTuruId", String.Empty)
                @Html.ValidationMessageFor(model => model.FilmTuruId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImdbPuani, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ImdbPuani)
                @Html.ValidationMessageFor(model => model.ImdbPuani)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CikisTarihi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CikisTarihi)
                @Html.ValidationMessageFor(model => model.CikisTarihi)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Film Sayfasına Dön", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
