﻿@model IEnumerable<FilmIzlemeSitesi.Models.FilmTablosu>

@{
    ViewBag.Title = "Film";
}
<h2>Fimler</h2>

<p>
    @Html.ActionLink("Yeni Film Oluştur", "Create")
</p>


<table class="table">
    <tr>
        <th>
           Film Adı
        </th>
        <th>
            Yönetmen
        </th>
        <th>
            IMDB Puanı
        </th>
        <th>
            Çıkış Tarihi
        </th>
        <th>
            Film Türü)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FilmAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yonetmen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImdbPuani)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CikisTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmTuruTablosu.FilmTuru)
        </td>
        <td>
           
            @Html.ActionLink("Detay", "Details", new { id=item.FilmId })
          
        </td>
    </tr>
}

</table>
