﻿@{
    ViewBag.Title = "Home Page";
}<h1> FİLM GÜNLÜKLERİ</h1>
<div class="row">
    <img src="Content/image/ring.jpg" height="200">
    <img src="Content/image/jack.jpg" height="200">
    <img src="Content/image/maymun.jpg" height="200">
    <img src="Content/image/elmas.jpg" height="200">
    <img src="Content/image/fight.jpg" height="200">
    <img src="Content/image/jack.jpg" height="200">
    <img src="Content/image/harry.jpg" height="200">
    <img src="Content/image/narnia.jpg" height="200">
    <img src="Content/image/samuray.jpg" height="200">
    <img src="Content/image/titanik.jpg" height="200">
    <img src="Content/image/khan.jpg" height="200">
    <img src="Content/image/thor.jpg" height="200">
    <img src="Content/image/kelebek.jpg" height="200">
    <img src="Content/image/ring.jpg" height="200">
    <img src="Content/image/troy.jpg" height="200">
    <img src="Content/image/samuray.jpg" height="200">
    <img src="Content/image/fight.jpg" height="200">
    <img src="Content/image/hukumet.jpg" height="200">
    <img src="Content/image/maymun.jpg" height="200">
    <img src="Content/image/avatar.jpg" height="200">
    <img src="Content/image/ring.jpg" height="200">
    <img src="Content/image/elmas.jpg" height="200">
    <img src="Content/image/fight.jpg" height="200">
    <img src="Content/image/avatar.jpg" height="200">
    <img src="Content/image/harry.jpg" height="200">
    <img src="Content/image/narnia.jpg" height="200">
    <img src="Content/image/samuray.jpg" height="200">
    <img src="Content/image/thor.jpg" height="200">

    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>
<div class="ekran">
   
    <img src="Content/image/fight.jpg" height="200">
    <img src="Content/image/Ring.jpg" height="200">
    <img src="Content/image/samuray.jpg" height="200">
    <img src="Content/image/ring.jpg" height="200">
    <img src="Content/image/elmas.jpg" height="200">
    <img src="Content/image/fight.jpg" height="200">
    <img src="Content/image/jack.jpg" height="200">
    <img src="Content/image/harry.jpg" height="200">
    <img src="Content/image/narnia.jpg" height="200">
    <img src="Content/image/titanik.jpg" height="200">
    <img src="Content/image/khan.jpg" height="200">
    <img src="Content/image/kelebek.jpg" height="200">
    <img src="Content/image/ring.jpg" height="200">
    <img src="Content/image/troy.jpg" height="200">
    <img src="Content/image/samuray.jpg" height="200">
    <img src="Content/image/thor.jpg" height="200">
    <img src="Content/image/hukumet.jpg" height="200">
    <img src="Content/image/maymun.jpg" height="200">
    <img src="Content/image/avatar.jpg" height="200">
    <img src="Content/image/ring.jpg" height="200">
    <img src="Content/image/elmas.jpg" height="200">
    <img src="Content/image/fight.jpg" height="200">
    <img src="Content/image/jack.jpg" height="200">
    <img src="Content/image/avatar.jpg" height="200">
    <img src="Content/image/harry.jpg" height="200">
    <img src="Content/image/narnia.jpg" height="200">
 

</div>

