﻿@model IEnumerable<FilmIzlemeSitesi.Models.HareketTablosu>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni Film Izle", "Create")
</p>
<p><h3>İzlenen Filmler Listesi</h3></p>
<table class="table">
    <tr>       
        <th>
            Izleme Tarihi
        </th>
        <th>
            İzleyen Kullanıcı
        </th>
        <th>
            Filmin Adı
        </th>
        <th>
            Yönetmen
        </th>
        <th>
            Vizyon Tarihi
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.HareketTarihi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilmTablosu.FilmAdi)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.FilmTablosu.Yonetmen)
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.FilmTablosu.CikisTarihi)
        </td>        
    </tr>
}

</table>
